@import './scrollbar';

@import './reset';

@import './mixin';

@import './animation';

#root {
  height: 100%;
}
.App {
  height: 100%;
}
// loading component
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .75);
  z-index: 9999;
}